.hero-container {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-container::after,
.hero-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c667c;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    flex: 1;
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img > div {
    display: flex;
    align-items: end;
    gap: 2rem;
}

.hero-img > div > img {
    width: 25rem;
    transition: all 0.3s ease;
}

.hero-img .profile-img {
    border-radius: 0.9rem;
    border: 2.8px solid #6852ba;
}

.hero-img .profile-img img {
    z-index: -1;
}

.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
    position: relative;
}

.tech-icon img {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.tech-icon::after {
    position: absolute;
    content: attr(data-text);
    bottom: -40px;
    transform: translateX(-50%), translateY(70%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.tech-icon:hover::after {
    opacity: 1;
}

.hero-img > div > img:hover,
.tech-icon img:hover {
    transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {

    .hero-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img > div > img {
        width: 20rem;

    }

    .tech-icon {
        width: 4rem;
        height: 4rem;
    }

    .tech-icon img {
        width: 2.5rem;
    }
}


@media (max-width: 769px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-container h2 {
        margin-top: 3rem;
    }

    .hero-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content h2, 
    .hero-content p {
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before {
        content: " ";
        width: 18rem;
        height: 18rem;
        position: absolute;
    }

    .hero-container::after {
        top: 0rem;
        left: 0rem;
    }

    .hero-container::before {
        bottom: 2rem;
        right: 0rem;
    }

    .tech-icon::after {
        bottom: -20px;
    }
}

@media (max-width: 600px) {

    .hero-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .hero-content p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img {
        gap: 1rem;
    }

    .hero-img > div {
        gap: 1rem;
    }

    .hero-img > .tech-icon-conteiner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }

    .hero-img > div > img {
        width: 16rem;
    }

    .tech-icon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon img {
        width: 2rem;
    }

    .custom-btn {
        width: 14.25rem;
    }

    .custom-btn a.download-btn {
        width: 12rem;
    }
}

.custom-btn {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 0.65rem;;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

a.download-btn {
    text-decoration: none;
    color: inherit;
}
  
.custom-btn:hover {
    background-color: #d3d3d3;
}
  
.custom-btn .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}