@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme="light"] {
  --body_background: white;
  --body_color: black;
  --link_color: navy;
}

body[data-theme="dark"] {
  --body_background: #060417;
  --body_color: white;
  --link_color: cyan;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
}